html, body {
    margin: 0px auto;
    height: 100%;
}

.container {
    min-height: 500px;
}

#gameHeader {
    font-size: 30px;
    font-weight: bold;
}

#gameArea {
    height: 400px;
}

/* 
#listOfSymbols {
    display: flex;
} */